a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: none;
    color: rgb(30, 81, 40);
}

a:active {
    text-decoration: none;
    color: white;
}



nav div {
    padding: 10px 0;
    flex-grow: 1;
    text-align: center;
    background-color: rgb(30, 81, 40);
    cursor: pointer;
    transition: background-color 0.4s ease-out;
    position: sticky;
    justify-content: space-evenly;
    display: flex;
}

nav div:hover, nav div.selected {
    color: rgb(30, 81, 40);
    background-color: #FFE061;

}

nav {
    display: flex;
    justify-content: space-evenly;

}

