* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Anton', sans-serif;
}

section {
  background-color: rgb(30, 81, 40);
  padding: 20px;
  margin: 20px auto;
  font-family: 'Secular One', sans-serif;
  color: white;
  font-size: 1.1em;
  max-width:800px;
  border-style: solid;
  border-width: 0px 0px 0px 2px; /* 0px top, 0px right, 0px bottom and 1px left */
  padding: 20px
}


.items {
  display: flex;
  justify-content: space-between;
}

.item {
  border: 2px solid black;
  background: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
  .items {
    border-style: solid;
    background: white;
    display: block;
  }

  .item {
    padding-top: 10px;
    border-style: solid;
  }
}

.poster{
  padding-left: 150px;
  width: 100%;
  height: 350px;
}